body{
  margin: 0;
}
.game-title{
  margin-left: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-title h1{
  font-size: 40px;
  font-weight: bold;
}

.play{
  padding: 15px 75px;
}

.games{
  padding: 80px;
}

.game-box{
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px){ 
  .games{
    padding: 50px;
  }

  .game-title{
    width: 100%;
  }

}
