.fact{
  background-color: #f7efe5;
  margin: 0 auto;
  padding: 60px 40px;
}

.fact-information{
  width: 80%;
  margin: 0 auto;
}

h5{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

p{
  margin-top: 0;
}

img{
  width: 40%;
}

.fact-title{
  margin: 0 auto;
}

.videos-holder{
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.video-box{
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: white;
  border-radius: 20px;
}

.video-tumbnail{
  width: 40%;
}

.video-tumbnail img{
  width: 250%; 
  border-radius: 20px 20px 0 0;
}

.text-content{
  width: 100%;
  padding: 30px;
}

h4{
  font-weight: bold;
  font-size: 20px;
}

.text-content p{
  width: 60%;
}
.play-now-button-holder{
  margin-top: 40px;
}

.play-now-button{
  background-color: #ffc300;
  padding: 5px 170px;
  border-radius: 20px;
}

iframe{
  width: 800px;
  height: 500px;
}

@media only screen and (max-width: 600px){
  iframe{
    width: 100%;
  }

  .fact{
    width: 80%;
    padding: 60px 0;
  }

  .play-now-button{
    padding: 0;
  }

  .text-content{
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .videos-holder{
    flex-direction: column;
    gap: 40px;
  }

  .video-box{
    width: 80%;
    margin: 0 auto;
  }


  .play-now-button{
    padding: 20px;
  }

  .fact-title{
    text-align: center;
  }

  .text-content p{
    width: 100%;
  }
}